.catalog {
  padding: vw(22px) 0;
  background: #F9F0EA;

  &__list {
    margin: vw(-32px) vw(-16px);
    display: flex;
    flex-wrap: wrap;
  }

  &__li {
    padding: vw(32px) vw(16px);
    width: calc(100% / 5);
  }

  &__header {
    font-size: vw(28px);
    line-height: vw(28px);
    font-weight: 500;
    color: #70544F;
    margin-bottom: 6px;
  }
}
