.choose-inside {
  padding: vw(50px) 0 vw(100px) 0;
  background: url(../img/choose-inside.png) no-repeat center;
  background-size: cover;
  position: relative;

  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .3);
  }

  &__container {
    position: relative;
    z-index: 5;
  }

  &__header {
    font-size: vw(32px);
    line-height: vw(40px);
    color: #fff;
    font-weight: 300;
    margin-bottom: vw(56px);
    text-align: center;
  }

  &__list-wrap {
    padding: vw(25px) vw(55px);
  }

  &__list {
    margin: vw(-5px) vw(-30px);
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  &__li {
    padding: vw(5px) vw(30px);
    width: calc(100% / 11);
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
