* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

html, body {
  @include mobile {
    font-size: 10px;
  }
}

body {
  @include helvetica;
  color: #57555c;

  &.overflow {
    overflow: hidden;
  }
}

button {
  cursor: pointer;
  background: none;
  border: none;
  line-height: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

textarea {
  resize: vertical;
}

ul {
  list-style: none;
  padding: 0;
}

.site-wrapper {
  overflow: hidden;
}

.h1 {
  font-size: vw(28px);
  line-height: vw(28px);
  font-weight: 500;
  color: #70544f;
  margin: 0;
  margin-bottom: 11px;

  @include mobile {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
}

.h2, .h3 {
  font-size: vw(28px);
  line-height: vw(28px);
  font-weight: 500;
  color: #70544f;
  text-align: center;
  margin: 0;
  margin-bottom: 6px;

  @include mobile {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 9px;
  }

  &--left {
    text-align: left;

    @include mobile {
      text-align: center;
    }
  }

  &--red {
    color: #F94848;
  }
}

p {
  font-size: 16px;
  line-height: 25px;
  color: #666666;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mobile {
    line-height: 19px;
  }
}

.link {
  font-size: vw(18px);
  line-height: vw(18px);
  color: #1081E0;
  text-decoration: none;

  @include hover {
    text-decoration: underline;
  }
}

.mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.desktop {
  @include mobile {
    display: none;
  }
}

.no-container {
  .container {
    padding: 0;
  }
}
