.btn {
  width: 100%;
  height: vw(40px);
  background: #f8cf26;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: vw(18px);
  line-height: vw(18px);
  color: #333;
  font-weight: 500;

  @include mobile {
    height: 40px;
    font-size: 22px;
    line-height: 22px;
  }

  &--green {
    background: #23B75F;
    color: #fff;

    @include hover {
      background: #19C960;
    }

    &:active {
      background: #19C960;
    }
  }

  &--red {
    background: #F94848;
    color: #fff;
  }

  &__icon {
    width: vw(20px);
    height: vw(20px);
    margin-right: vw(10px);

    @include mobile {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}
