.product {
  margin-bottom: vw(26px);
  position: relative;
  $self: &;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include mobile {
      display: block;
    }
  }

  &__small-gallery {
    width: vw(160px);
    position: relative;
    align-items: flex-start;

    @include mobile {
      display: none;
    }
  }

  &__small-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &--prev {
      margin-bottom: vw(15px);
    }

    &--next {
      margin-top: vw(15px);
    }
  }

  &__small-slider {
    margin: -vw(7px);
  }

  &__small-gallery {
    padding: vw(30px) 0 0 0;
    margin-bottom: vw(30px);
  }

  &__small-slide {
    padding: vw(7px);
    position: relative;
  }

  &__small-img-box {
    border: 5px solid transparent;
    transition: border-color 0.3s;

    #{$self}__small-slide.slick-current &,
    #{$self}__small-slide.edge-active & {
      border: 5px solid #fe2845;
    }

    #{$self}__small-slide.edge-hide & {
      border: 5px solid transparent;
    }
  }

  &__small-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    &--prev {
      top: 0;
    }

    &--next {
      bottom: -vw(30px);
    }
  }

  .js-product-arrows {
    .js-product-btn-prev {
      &.hide {
        display: none;
      }
    }
  }

  .js-product-btn-edge-prev,
  .js-product-btn-edge-next {
    display: none;

    &.active {
      display: block;
    }
  }

  &__big-gallery {
    width: calc(100% - 8.33333vw);
    padding-left: vw(10px);

    @include mobile {
      width: 100%;
      padding: 0;
    }

    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }

  &__big-img-container {
    width: vw(915px);
    float: left;

    @include mobile {
      width: 100%;
      float: none;
    }
  }

  &__big-img-box {
    height: vw(626px);
    position: relative;

    @include mobile {
      height: auto;
    }
  }

  &__big-img {
    width: 100%;
  }

  &__big-img-desc {
    font-size: vw(18px);
    line-height: vw(25px);
    color: #666;
    margin-top: vw(14px);

    @include mobile {
      display: none;
    }
  }

  &__big-img {
    height: 100%;
  }

  &__content {
    float: left;
    width: calc(100% - 47.65625vw);
    padding-left: vw(10px);

    @include mobile {
      float: none;
      width: 100%;
      padding: 0;
    }

    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }

  &__content-left {
    width: calc(100% - 15.41667vw);
    padding-right: vw(20px);
    float: left;

    @include mobile {
      width: 100%;
      float: none;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &__content-right {
    width: vw(296px);
    float: left;

    @include mobile {
      width: 100%;
      float: none;
    }
  }

  &__header {
    width: 100%;
    font-size: vw(28px);
    line-height: vw(28px);
    color: #70544f;
    font-weight: 500;
    margin-bottom: vw(20px);

    @include mobile {
      display: none;
    }
  }

  &__head-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: vw(16px);
    border-bottom: 1px solid #DDDFE0;
    margin-bottom: vw(16px);

    @include mobile {
      justify-content: space-between;
      padding-bottom: 10px;
      margin-top: 16px;
      order: 0;
    }

  }

  &__tag {
    padding: vw(6px) vw(13px);
    background: #FFE5E5;
    border-radius: 3px;
    font-size: vw(16px);
    line-height: vw(16px);
    color: #A94442;
    position: relative;

    @include mobile {
      padding: 6px 13px;
      font-size: 16px;
      line-height: 16px;
      height: 30px;
      text-align: center;
    }
  }

  &__tag-close {
    position: absolute;
    right: 0;
    top: 0;
    width: vw(20px);
    height: vw(20px);
    background: #AABBD0;
    border-radius: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;

    @include mobile {
      width: 20px;
      height: 20px;
      opacity: 1;
      pointer-events: auto;
    }

    #{$self}__tag:hover & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__review {
    margin-left: vw(20px);

  }

  &__review-link {
    margin-left: auto;

    @include mobile {
      display: none;
    }
  }

  &__weight-title {
    font-size: vw(18px);
    line-height: vw(18px);
    color: #70544f;
    margin-bottom: vw(17px);

    @include mobile {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 17px;
    }
  }

  &__spices {
    @include fromDesktop {
      display: block;
      position: relative;
      padding: 0;
      background: none;

      .spices {
        &__close {
          display: none;
        }

        &__container {
          padding: 0;
        }
      }
    }
  }

  &__price-wrap {
    margin-top: vw(30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: vw(16px);
    border-bottom: 1px solid #DDDFE0;
    margin-bottom: vw(20px);

    @include mobile {
      justify-content: flex-start;
      padding-bottom: 16px;
      margin-bottom: 20px;
      order: 3;
      margin-top: 20px;
    }
  }

  &__user-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  &__weight {
    @include mobile {
      order: 1;
      margin-bottom: 20px;
    }
  }

  &__user-icon {
    width: vw(15px);
    margin-right: vw(5px);

  }

  &__user-text {
    @include avant;
    font-size: vw(18px);
    line-height: vw(21px);
    color: #009471;
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -vw(12px);
    margin-bottom: vw(6px);

    @include mobile {
      order: 2;
      margin: -7px;
    }
  }

  &__tag-li {
    padding: vw(12px);
    width: calc(100% / 3);

    @include mobile {
      padding: 7px;
      width: auto;
    }
  }

  &__btn {
    height: vw(70px);
    margin-bottom: vw(25px);
    box-shadow: 0px 4px 4px #01973E;

    @include mobile {
      height: 45px;
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 40px;
      order: 5;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      order: 4;
      margin-bottom: 20px;
    }
  }

  &__payment-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -vw(7px);

    @include mobile {
      margin: -7px;
    }
  }

  &__payment-li {
    padding: vw(7px);
    max-width: vw(59px);

    @include mobile {
      padding: 7px;
      max-width: 57px;
    }

  }

  &__social {
    max-width: vw(220px);


    @include mobile {
      max-width: 165px;
    }
  }

  &__inside-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: vw(18px);
    line-height: vw(18px);
    color: #70544f;

    @include mobile {
      order: 10;
      font-size: 18px;
      line-height: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  &__inside-title-text {
    order: 1;

    &--red {
      color: #F94848;

      @include mobile {
        order: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__tags-list {
    width: 100%;
  }

  &__food-container {
    padding: vw(20px) vw(16px);
    border: 2px solid #dff0d8;
    border-radius: 5px;
    float: left;
    width: 100%;
    margin-top: 8px;

    @include mobile {
      border: none;
      padding: 0px;
    }

    .slick {
      &-arrow {
        width: vw(17px);
        height: vw(30px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: no-repeat center;
        background-size: cover;
        font-size: 0;
        cursor: pointer;
      }

      &-prev {
        left: 0;
        background-image: url(../img/icons/chevron-left.png);
      }

      &-next {
        right: 0;
        background-image: url(../img/icons/chevron-right.png);
      }
    }
  }

  &__food {
    padding: 0 vw(30px);
    text-align: center;

    @include mobile {
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }
  }

  &__food-item {
    width: calc(100% / 4);
  }

  &__food-img {
    margin: 0 auto;
    margin-bottom: vw(8px);
    max-width: vw(60px);

    @include mobile {
      margin-bottom: 8px;
      max-width: 100%;
    }

  }

  &__food-desc {
    font-size: vw(16px);
    line-height: vw(16px);
    color: #009471;

    @include mobile {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__tags-wrap {
    width: 100%;

    @include mobile {
      overflow-x: auto;
      overflow-y: hidden;
      margin-bottom: 26px;
    }
  }

  &__tags-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -vw(10px);
    margin-top: vw(26px);

    @include mobile {
      margin: 0 -10px;
      margin-top: 26px;
      display: block;
      white-space: nowrap;
      font-size: 0;
      padding-bottom: 26px;
    }
  }

  &__tags-li {
    padding: vw(10px);

    @include mobile {
      padding: 10px;
      display: inline-block;
    }
  }

  &__tags-item {
    padding: vw(11px);
    background: #ECF1F7;
    border-radius: 5px;
    font-size: vw(16px);
    line-height: vw(16px);
    color: #9299a2;
    text-decoration: none;
    transition: background .3s, color .3s;

    @include mobile {
      padding: 11px;
      font-size: 16px;
      line-height: 16px;
    }

    @include hover {
      background: #DFF0D8;
      color: #009471;
    }
  }
}
