.spices {
  $self: &;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .57);
  border-radius: 10px;
  padding: vw(26px);
  display: none;

  &.active {
    display: block;
  }

  &__container {
    position: relative;
    background: #fff;
    border: 10px;
    padding: vw(38px) vw(20px) vw(20px) vw(20px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    & > * {
      width: 100%;
    }
  }

  &__close {
    width: vw(25px);
    height: vw(25px);
    background: #AABBD0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: vw(7px);
    top: vw(7px);
    transition: background .3s;

    @include hover {
      background: #F8CF26;
    }

  }

  &__icon-close {
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: vw(10px);

  }

  &__img {
    width: vw(35px);
    height: auto;
    margin-right: vw(14px);

  }

  &__header-text {
    font-size: vw(18px);
    line-height: vw(18px);
    color: #666;
    font-weight: 500;
  }

  &__question {
    margin-left: vw(9px);
    width: vw(24px);
    height: vw(24px);
    background: #9299a2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    @include avant;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:hover {
      .tooltip {
        display: block;
      }
    }
  }

  &__value-li {
    display: none;

    &.active {
      display: block;
    }
  }

  &__list {
    margin: vw(-5px);
  }

  &__li {
    padding: vw(5px);
  }

  &__item {
    font-size: vw(18px);
    line-height: vw(18px);
    color: #666;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__value-item {
    color: #009471;
    margin-left: vw(5px);


    #{$self}__item.red & {
      color: #E4394F;
    }
  }

  &__range-slider-container {
    width: 100%;
    position: relative;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

  .irs {
    height: vw(26px);

    &-to {
      display: none;
    }

    &-bar {
      display: none;
    }

    &-handle {
      display: none;
    }

    &-min {
      display: none;
    }

    &-line {
      background: #DFF0D8;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 10px;
    }

    &-from {
      width: vw(26px);
      height: vw(26px);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      font-size: 0;
      padding: 0;
      background: #66BB6A;
      top: 0;
      cursor: pointer;

      &:before {
        display: none;
      }

      &:after {
        display: block;
        content: '';
        width: vw(10px);
        height: vw(10px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__slider-btns {
    display: flex;
    width: 100%;
    height: vw(15px);
    justify-content: space-between;
    align-items: center;
    margin-top: vw(5px);

  }

  &__slider-btn {
    width: vw(15px);
    height: vw(15px);
    position: relative;

    &:before, &:after {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #009471;
    }

    &:before {
      width: 100%;
      height: 1px;
    }

    &:after {
      width: 1px;
      height: 100%;
    }

    &--prev {
      &:after {
        display: none;
      }
    }
  }

  &__btn {
    align-self: flex-end;
  }
}
