<section class="about">
	<div class="container about__container">
		<img src="assets/img/about0.png" alt="" class="about__img">
		<div class="about__content">
			<h2 class="h2 h2--left">Осетинские пироги в Москве с бесплатной доставкой</h2>
			<p>Ищете идеальный вариант угощения, который понравится всем гостям? Предлагаем вам заказать и купить осетинские пироги, которые приготовлены в пекарне по традиционным рецептам! Сочные, невероятно вкусные и питательные, они будут уместными на любом
				торжестве. К примеру, пироги с курицей, сыром, луком и укропом можно подавать в качестве закуски, а ягодные сладкие осетинские пироги станут изумительным десертом.
			</p>
			<p>Мясные, постные и сдобные осетинские пироги в Москве с доставкой точно ко времени мы предлагаем всем гурманам, кто хочет насладиться горячей выпечкой – с сочной начинкой, нежным тестом, осетинским сыром и восхитительным ароматом пряностей.</p>
		</div>

	</div>
</section>
