<section class="big-choice">
  <div class="container big-choice__container">
    <div class="big-choice__img-box"><img src="assets/img/big-choice.png" alt="" class="big-choice__img"></div>
    <div class="big-choice__desc">
      Самый большой выбор осетинский пирогов в Москве -
      <span class="big-choice__red">350 видов</span>
      начинок в наличии
    </div>
  </div>
</section>
