{% set catalogList = {
	catalogItem0: {
		sale: true,
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem1: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem2: {
		sale: true,
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem3: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem4: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem5: {
		sale: true,
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem6: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem7: {
		sale: true,
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem8: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem9: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem10: {
		sale: true,
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem11: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem12: {
		sale: true,
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem13: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem14: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem15: {
		sale: true,
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem16: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem17: {
		sale: true,
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem18: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
	catalogItem19: {
		header: '«Цахараджын» со свекольными листьями, сыром и зеленью',
		gramList: {
			item0: {
				gram: '800',
				checked: true,
				radius: '25',
				gramName: 'catalog__gram',
        defaultPrice: '100'
			},
			item1: {
				gram: '1000',
				radius: '30',
				gramName: 'catalog__gram',
        defaultPrice: '200'
			},
			item2: {
				gram: '1200',
				radius: '32',
				gramName: 'catalog__gram',
        defaultPrice: '300'
			},
			item3: {
				gram: '1400',
				radius: '35',
				gramName: 'catalog__gram',
        defaultPrice: '400'
			}
		}
	},
} %}

<div class="container">
	<h2 class="h2 catalog__header">Сытные пироги</h2>
</div>
<section class="catalog">
	<div class="container catalog__container">
		<ul class="catalog__list">
			{% for key, item in catalogList %}
				<li class="catalog__li">
					{% include 'card.twig' %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
