{% set checkList = {
	item0: {
		text: 'с мясом'
	},
	item1: {
		text: 'с курицей'
	},
	item2: {
		text: 'с капустой'
	},
	item3: {
		text: 'с грибами'
	},
	item4: {
		text: 'с кабачком'
	},
	item5: {
		text: 'постные'
	},
	item6: {
		text: 'с грибами'
	},
	item7: {
		text: 'с кабачком'
	},
	item8: {
		text: 'постные'
	},
	item9: {
		text: 'с кабачком'
	},
	item10: {
		text: 'с картошкой'
	},
	item11: {
		text: 'с сыром'
	},
	item12: {
		text: 'с рыбой'
	},
	item13: {
		text: 'с творогом'
	},
	item14: {
		text: 'сладкие'
	},
	item15: {
		text: 'с ягодами'
	},
	item16: {
		text: 'с творогом'
	},
	item17: {
		text: 'сладкие'
	},
	item18: {
		text: 'с ягодами'
	},
	item19: {
		text: 'сладкие'
	}
} %}

<section class="choose-inside">
	<div class="container choose-isinde__container">
		<div class="choose-inside__header">Выберите начинки <br> и наш сервис подберет лучшие варианты пирогов</div>
		<ul class="choose-inside__list">
			{% for item in checkList %}
				<li class="choose-inside__li">
					<label class="choose-inside__checkbox">
						<input class="choose-inside__input" type="checkbox" name="choose-inside" {% if item.checked %} checked="checked" {% endif %}>
						<span class="choose-inside__icon"></span>
						<span class="choose-inside__desc">{{item.text}}</span>
					</label>
				</li>
			{% endfor %}
		</ul>
    <a href="#" class="choose-inside__btn">Показать 48 пирогов</a>
	</div>
</section>
