<section class="choose-inside js-inside">
	<div class="container choose-inside__container">
		<div class="choose-inside__header">Выберите начинки
			<br>
			и наш сервис подберет лучшие варианты пирогов</div>
		<div class="choose-inside__list-wrap">
			<ul class="choose-inside__list">
				{% for index in 0..21 %}
					<li class="choose-inside__li">
						<label class="choose-inside__checkbox">
							<input class="choose-inside__input js-inside-input" data-inside-number="20" data-inside-link="https://www.google.com/" type="radio" name="choose-inside">
							<span class="choose-inside__icon"></span>
							<span class="choose-inside__desc">с мясом</span>
						</label>
					</li>
				{% endfor %}
			</ul>
		</div>
		<a href="#" class="choose-inside__btn js-inside-btn">Показать <span class="choose-inside__btn-text js-inside-number">48</span> пирогов</a>
	</div>
</section>
