<div class="counter {{mod}} js-counter">
  <button type="button" class="counter__btn counter__btn--minus js-counter-prev"></button>
  <div class="counter__number js-counter-number">1</div>
  <button type="button" class="counter__btn counter__btn--plus js-counter-next"></button>
</div>
