<section class="map js-map-section">
	<div class="container map__container">
		<h2 class="h2 map__h2">Закажите осетинские пироги с бесплатной доставкой:</h2>
		<form action="" class="map__form">
			<ul class="map__list">
				<li class="map__li">
					<label class="map__item">
						<span class="map__title">Узнать время доставки</span>
						<div class="field field--route">
              <img src="assets/img/icons/location--red.png" alt="" class="field__icon">
              <div class="field__route-wrap"><input placeholder="Введите адрес доставки" type="text" class="field__input js-field-route" data-destination="Москва, красная площадь"></div>
							<div class="field__route ">
                ~ <span class="js-field-route-time-travel">?? мин</span>
              </div>
						</div>
					</label>
				</li>
				<li class="map__li">
					<label class="map__item">
						<span class="map__title">Выбрать ближайшее метро</span>
            <div class="field field--select">
							<img src="assets/img/icons/train.png" alt="" class="field__icon">
							<select id="" class="field__input">
                <option class="field__option" value="">По станции метро</option>
                <option class="field__option" value="">1</option>
                <option class="field__option" value="">2</option>
                <option class="field__option" value="">3</option>
              </select>
						</div>
					</label>
				</li>
				<li class="map__li">
					<label class="map__item">
						<span class="map__title">Укажите округ</span>
            <div class="field field--select">
							<img src="assets/img/icons/near-me.png" alt="" class="field__icon">
							<select id="" class="field__input">
                <option class="field__option" value="">По округу</option>
                <option class="field__option" value="">1</option>
                <option class="field__option" value="">2</option>
                <option class="field__option" value="">3</option>
              </select>
						</div>
					</label>
				</li>
				<li class="map__li">
					<label class="map__item">
						<span class="map__title">Укажите город</span>
            <div class="field field--select">
							<img src="assets/img/icons/pin.png" alt="" class="field__icon">
							<select name="" id="" class="field__input">
                <option class="field__option" value="">По городу и области</option>
                <option class="field__option" value="">1</option>
                <option class="field__option" value="">2</option>
                <option class="field__option" value="">3</option>
              </select>
						</div>
					</label>
				</li>
			</ul>
		</form>
    <div class="map__map js-map"></div>
	</div>
</section>
