<div class="p404">
	<div class="container p404__container">
		<div class="p404__content">
			<div class="p404__header">404</div>
			<div class="p404__desc">страница не найдена...</div>
			<p>Страница на которую вы пытаетесь попасть,
не существует или была удалена.</p>
			<p>
        Вы можете перейти на
				<a href="/" class="link">Главную страницу</a>
			</p>
			<p>
        Позвонить нам по телефону:
				<a href="tel:+74953249000" class="p404__phone">+7 (495) 324-90-00</a>
			</p>
			<div class="p404__search-wrap">
				<div class="p404__search-title">Воспользуйтесь поиском:</div>
				<form action="" class="page-header__search p404__search">
					<img src="assets/img/icons/search.png" alt="" class="page-header__search-icon">
					<input type="search" placeholder="осетинский пирог с мясом" class="page-header__input">
					<button type="submit" class="page-header__search-submit">
						<span class="page-header__search-submit-text">Найти</span></button>
				</form>
			</div>
		</div>
	</div>
</div>
