

<header class="page-header">
  <nav class="page-header__menu">
    <ul class="page-header__menu-list">
      <li class="page-header__menu-li"><a href="#" class="page-header__menu-link"></a></li>
    </ul>
  </nav>
</header>
