<footer class="page-footer">
	<div class="container page-footer__container">
		<div class="page-footer__top">
			<div class="page-footer__links-item">
				<div class="page-footer__links-header">
					<img src="assets/img/icons/shopping-bag.png" alt="" class="page-footer__links-header-icon">
					<div class="page-footer__links-header-text">Информация покупателям:</div>
				</div>
				<div class="page-footer__links-container page-footer__links-container--3">
					<ul class="page-footer__list">
						{% for index in 0..5 %}
							<li class="page-footer__li">
								<a href="#" class="page-footer__link">
									<img src="assets/img/icons/new.png" alt="" class="page-footer__link-icon">
									<span class="page-footer__link-text">Новинки</span>
								</a>
							</li>
						{% endfor %}
					</ul>
					<ul class="page-footer__list">
						{% for index in 0..5 %}
							<li class="page-footer__li">
								<a href="#" class="page-footer__link">
									<img src="assets/img/icons/new.png" alt="" class="page-footer__link-icon">
									<span class="page-footer__link-text">Новинки</span>
								</a>
							</li>
						{% endfor %}
					</ul>
					<ul class="page-footer__list">
						{% for index in 0..3 %}
							<li class="page-footer__li">
								<a href="#" class="page-footer__link">
									<img src="assets/img/icons/new.png" alt="" class="page-footer__link-icon">
									<span class="page-footer__link-text">Новинки</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="page-footer__links-item">
				<div class="page-footer__links-header">
					<img src="assets/img/icons/shopping-bag.png" alt="" class="page-footer__links-header-icon">
					<div class="page-footer__links-header-text">Информация покупателям:</div>
				</div>
				<div class="page-footer__links-container page-footer__links-container--4">
					<ul class="page-footer__list">
						{% for index in 0..5 %}
							<li class="page-footer__li">
								<a href="#" class="page-footer__link">
									<img src="assets/img/icons/new.png" alt="" class="page-footer__link-icon">
									<span class="page-footer__link-text">Новинки</span>
								</a>
							</li>
						{% endfor %}
					</ul>
					<ul class="page-footer__list">
						{% for index in 0..5 %}
							<li class="page-footer__li">
								<a href="#" class="page-footer__link">
									<img src="assets/img/icons/new.png" alt="" class="page-footer__link-icon">
									<span class="page-footer__link-text">Новинки</span>
								</a>
							</li>
						{% endfor %}
					</ul>
					<ul class="page-footer__list">
						{% for index in 0..4 %}
							<li class="page-footer__li">
								<a href="#" class="page-footer__link">
									<img src="assets/img/icons/new.png" alt="" class="page-footer__link-icon">
									<span class="page-footer__link-text">Новинки</span>
								</a>
							</li>
						{% endfor %}
					</ul>
					<ul class="page-footer__list">
						{% for index in 0..4 %}
							<li class="page-footer__li">
								<a href="#" class="page-footer__link">
									<img src="assets/img/icons/new.png" alt="" class="page-footer__link-icon">
									<span class="page-footer__link-text">Новинки</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="page-footer__center">
			<div class="page-footer__center-item">
				<a href="#" class="page-footer__logo"><img src="assets/img/logo.png" alt="" class="page-footer__logo-img">
					<span class="page-footer__logo-text">Традиции<br> Осетии</span></a>
				<div class="page-footer__white-text">Наш адрес: г. Москва, Площадь Киевского Вокзала, 2 (карта проезда),<br>
					Телефон: +7 (495) 324-90-00 ежедневно с 9:00 до 21:00</div>
			</div>
			<div class="page-footer__center-item">
				<div class="page-footer__white-text">Цены и условия, указанные на сайте,
					<br>
					не являются публичной офертой</div>
			</div>
		</div>
		<div class="page-footer__bot">
			<div class="page-footer__bot-item">
				<div class="page-footer__white-text page-footer__white-text--copyright mobile">2007 - 2019 © Осетинские пироги «Традиции Осетии»: официальный сайт</div>
				<div class="page-footer__white-text">По всем вопросам пишите admin@osetinskiye-pirogi.com</div>
			</div>
			<div class="page-footer__bot-item">
				<div class="page-footer__payment">
					<div class="page-footer__payment-desc">Мы принимаем к оплате:</div>
          <img src="assets/img/mastercard.png" alt="" class="page-footer__payment-img">
					<img src="assets/img/visa.png" alt="" class="page-footer__payment-img">
				</div>
				<img src="assets/img/metr.png" alt="" class="page-footer__metr">
			</div>
			<div class="page-footer__by mobile">
				<div class="page-footer__by-text">Создание и <br> продвижение сайта</div>
				<img src="assets/img/es-logo.png" alt="" class="page-footer__by-img">
			</div>
			<div class="page-footer__mobile-copyright mobile">
				2007 - 2019 © Осетинские пироги<br>
«Традиции Осетии»: официальный сайт
			</div>
		</div>
	</div>
  <div class="page-footer__calc">
    <a href="#" class="page-footer__calc-content">
      <img src="assets/img/icons/calc.png" alt="" class="page-footer__calc-img">
      <div class="page-footer__calc-text-wrap">
        <div class="page-footer__calc-text">РАССЧИТАТЬ</div>
        <div class="page-footer__calc-big-text">ЗАКАЗ</div>
      </div>
    </a>
  </div>
</footer>
