<section class="text-block">
  <div class="container text-block__container">
    <h1 class="h1">Акция! Закажите осетинские пироги в Москве с доставкой!</h1>
    <p>Заказать осетинские пироги в Москве с доставкой точно ко времени можно с 8:00 до 21:00 по телефону +7 (495) 324-90-00 или круглосуточно на сайте через корзину. На ваш выбор мы предлагаем услуги 4 пекарен, в которых выпекаются осетинские пироги на любой вкус – сладкие, мясные, с капустой, сырные и другие. Заказ осетинских пирогов в Москве с доставкой на дом и в офис выполняется оперативно: приготовление занимает 25-45 минут, а доставка за 45 минут!</p>
  </div>
</section>
