{% extends 'templates/page.twig' %}
{% block title %}Главная{% endblock %}
{% block page %}
	<main class="page-main">
		{% include 'templates/includes/menu.twig' %}
		{% include 'templates/includes/breadcrumbs.twig' %}
		{% include 'templates/includes/product.twig' %}
		{% include 'templates/includes/popular.twig' %}
		{% include 'templates/includes/clients.twig' %}
		{% include 'templates/includes/choose-inside.twig' %}
	</main>
{% endblock %}
