{% extends 'templates/page.twig' %}
{% block title %}Главная{% endblock %}
{% block page %}
	<main class="page-main">
		{% include 'templates/includes/breadcrumbs.twig' %}
		{% include 'templates/includes/big-choice.twig' %}
		{% include 'templates/includes/form-success.twig' %}
	</main>
{% endblock %}
