{% extends 'templates/page.twig' %}
{% block title %}Главная{% endblock %}
{% block page %}
	<main class="page-main">
		<div class="container page-main__container">
			{% include 'templates/includes/big-choice.twig' %}
			{% include 'templates/includes/menu.twig' %}
		</div>
	</main>
{% endblock %}
