{% extends 'templates/page.twig' %}
{% block title %}Главная{% endblock %}
{% block page %}
	<main class="page-main">
		<div class="container page-main__container">
			<section class="big-choice">
				<div class="big-choice__img-box"><img src="assets/img/big-choice.png" alt="" class="big-choice__img"></div>
				<div class="big-choice__desc">
					Самый большой выбор осетинский пирогов в Москве -
					<span class="big-choice__red">350 видов</span>
					начинок в наличии
				</div>
			</section>
		</div>
	</main>
{% endblock %}
